.acc_outer{background-color:#001428;
	color:white;}

#acc-header{
   margin-top:54px;
    }
	
	
.acc_family{
	background-color:#001428;
	color:white;
	
}
	
.acc_title{
	font-size:30px;
	text-align:center;
   font-family: sans-serif;
	letter-spacing: 1px;
	font-weight: ligher;
	margin-top: 30px;
}

.acc_sub_title{
	font-size:20px;
	text-align:center;
   font-family: sans-serif;
	letter-spacing: 2px;
	font-weight: ligher;
	margin-top: 30px;
}

.acc_next_title{

	  font-zie: 27px;
	  font-family: sans-serif;
	  letter-spacing: 1px;
	  margin-top:30px;
}

hr{
    margin: 0px;
    /* border: 1px; */
    background-color: grey;
}


/* cards */

.acc-r1{
	 margin-top:30px;
     margin-right:90px;	 
	}

.acc-c1{
	width: 360px;
	height: 780px;
	color:black;
	text-align:left;
	margin-left:90px;
}


	
.acc-card-img-top{height:250px; width:250px;margin:auto;}


.acc-card-text{color:black; margin-right:50px;}

.acc-card-title{margin-left:6px;color:black;font-weight: lighter;font-size: 28px;}

.allacc{margin-right:80%;margin-top:128px;}

.acc-lm1{
	background-color:#F40505; 
	color:white; 
	font-size:20px; 
	height:50px; 
	width:280px; 
	border-radius:50px; 
	border-color:#F40505;
	text-align:center;
    margin-left:28px;
	margin-top:100px;
	}


/* --------------------------mobile version starts here:------------------------- */






#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
	
.acc-lm-mobile-1{
	background-color:#F40505; 
	color:white; 
	font-size:20px; 
	height:50px; 
	width:300px; 
	border-radius:50px; 
	border-color:#F40505;
	text-align:center;
     margin:auto;
	margin-top:45px;
	}
	
#content-desktop {display: none;}
#content-mobile {display: block;}

}


/* @media screen and (max-width: px) {
	
	#find_store{margin-top:} */

	/*------------------------------------------------------------------------------------*/

	#newsletter
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
    background-color: #4A235A;
    line-height: 40px;
    letter-spacing: .5px;
    word-spacing: 3px;
}

.newsletter-text 
{
    color: #56a3d6;
    font-weight: bolder;
    font-size: large;
    
}

.newsletter-text span
{
    color: rgb(218, 76, 76);
}

.newsletter-text .span1
{
    color: #CCCCFF;
}

.newsletter-form
{
    padding-top: 20px;
}


.newsletter-form input
{
    width: 250px;
    height: 45px;
    border: 1.5px black solid;
    border-radius: 10px;
    padding-left: 10px;
    color:  black;
    font-size: 10pt;
    margin-right: 10px;


    }


.newsletter-form button
{
    width: 200px;
    height: 40px;
    color: rgb(245, 241, 20);
    background-color: #008000;
    border: .5px rgb(236, 230, 230) solid;
    font-size: 20px;
    font-family:monospace;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-form button:hover
{
    width: 220px;
    height: 45px;
    font-size: 22px;
}