/*https://player.vimeo.com/video/686590058?h=17ad691f03&autoplay=1&loop=1&autopause=0&muted=1&texttrack=en*/




.g22_outer{
	background-color:#001428;
	color: white; 
	text-align: center;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
.g22-car {
    width: 740px;
    height: 360px;
  }

 .headtag{font-size:40px;color: white;margin-top: 100px;font-weight: bold;letter-spacing: 1px;}
 .paratag{font-size: 21px;text-align: center;margin-top: 45px;margin-bottom:90px;font-weight: lighter;}

 .head2tag{font-size: 21px;margin-top: 70px;margin-bottom: 10px;font-weight: 400;letter-spacing: 1px;}
 .para2tag{margin: auto;text-align: center;letter-spacing: 1px;margin-top: 5px;}

 .rowgap{margin-top: 180px;}

 .head3tag{font-size: 50px;font-weight: 200;letter-spacing: 3px;}


.head4tag{font-size: 30px;}
.para4tag{font-size: 15px;font-weight: lighter;text-align: center; margin: auto; padding: 0 50px;}

.head5tag{font-weight: bolder; font-size: 30px;margin-top: 180px;font-family: sans-serif;text-align: left;}
.para5tag{font-size: 15px; text-align: left;margin-top: 30px;}


.row-first{padding: 0 100px;}

.row-second{
    background-image: url('https://motorolaimgrepo.vteximg.com.br/arquivos/Android-12-dm448uj9j.jpg');
    background-color: #001428;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 180px;
    height: 500px;
    width: 100%;
}













/*--------------------------------ROW BAR-------------------------------------------*/
.rowimg
{
    height: 270px;
    width: 270px;
   margin-left: 40px;
   margin-bottom: 20px;
}


.innerrow2-ank{
    margin-top: 100px;
    
}
.mec-container 
{
    margin: 0 ;
    padding: 0;
}

.multi-editorial-card
{
    background-color: rgb(0, 20, 40);

}

.mec-multi-editorial-column 
{
    align-items: center;
    width: 500px;
}

.mec-header 
{
    color: rgb(255, 255, 255); 
    text-align: center;
    margin-top: 300px;
}

.mec-description
{
    text-align: center;
}

.row-head 
{
   color: rgb(255, 255, 255);
   font-size: 21px;
   padding: 0 25px;
}

.row-para
{
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 30px;
}

/* 
/* MOBILE VERSION  */
@media screen and (max-width: 1000px) and (min-width: 300px) {
    .fet-head 
    {
        font-size: 30pt ;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .rowimg{margin-right: 20px;padding-right: 18px;}

    .row-para{padding-right: 30px;margin-bottom: 30px;}

   .innerrow2-ank{
    text-align: center;
   }
   
}
/*----------------------------------------------------------------------------------------------------*/