.a1{
    background-color: #001428; 
    font-weight: 300px;
    display: block;
    color: white;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    /* border-top: 0.1px solid white;
    border-bottom: 0.1px solid white; */
}

   .hellomoto{font-family: sans-serif;}

 .a2{
    margin-top: 400px;
    color: white;
    font-family: Gotham A,Gotham B,ruble;
    font-weight: 300px;
}
.a6 .btn {
   
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    text-align: center;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 64, 57);
    background-color: rgb(207, 64, 57);
    margin-top: 16px;
    margin-left: 10px;
}
.a6 .btn button{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 64, 57);
    background-color: rgb(207, 64, 57);
    font-family: sans-serif;
    font-size: 18px;
}

.menu-textstyle{font-size: 14px;text-align: left;line-height: 32px; margin-right: 30px; margin-left: 25px;}



.listing1 .bt1{
   margin-bottom: 27px;
   margin-top: 110px;
}
.listing1 .bt1 button {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
     padding-right: 70px;
    font-size: 15px;
}
.listing2 .bt2{
    margin-bottom: 90px;
    margin-top: 70px;
 }
 .listing2 .bt2 button {
     color: rgb(255, 255, 255);
     background-color: rgba(255, 255, 255, 0);
     border: 1px solid rgb(255, 255, 255);
     text-align: center;
     border-radius: 30px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 70px;
     padding-right: 70px;
     font-size: 15px;
 }
 .listing3 .bt3{
    margin-bottom: 27px;
    margin-top: 120px;
 }
 .listing3 .bt3 button {
     color: rgb(255, 255, 255);
     background-color: rgba(255, 255, 255, 0);
     border: 1px solid rgb(255, 255, 255);
     text-align: center;
     border-radius: 30px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 70px;
     padding-right: 70px;
     font-size: 15px;
 }
.a6{
    margin-left: 20px;
}

.a6{
    color: white;
}

.a1 .a6 li{
    list-style-type:none;
}

.a1 .a6 ul{
    padding: 0px;
}

/* .a1 .a6 .a3 listing{
    display: block;
} */

hr{
    margin: 0px;
    /* border: 1px; */
    background-color: grey;
}

i{
    padding-right: none;
}

p{
    border: 1px solid red;
    /* margin-left: 20px; */
    width: 230px;
    float: right;
}

.a1 .a6 .a4 .listing2{
    padding-top: 32px;
}

/* .search
  {
    position: absolute;	
	text-align: center;
	height:10%;
	width: 100%;
	margin-right:50%;
	margin-left:50%;
	margin-top: 00px;
	transform: translate(-50%, -50%);
}
  .softbox{
	transition: border .2s linear;
	font-size: 18px;
	width: 50%;
	background: #f5f8fa;
	color: #000;
	padding: 8px 32px 8px 12px;	
	height: 50px;
	border: 1px solid #e6ecf0;
	border-radius: 5px;
	outline: none;
  }
.softbox:focus{
	transition: border .2s linear;
	
  }
.softbtn{
	position: absolute;
	font-size: 30px;
	color: #66757f;
	background-color:white;
	border:none;
	right: 21.3%;
	
	outline: none;
	padding: 5px;
  } */

 /*----------------------------------------------------MOBILE VERSION---------------------------------------------*/ 
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

.mobile-menu-outer{background-color: #001428; color: white;}

.hellomoto{font-family: sans-serif;color: white;}

.card-body{color: rgb(255, 255, 255);font-size: 30px;}

.fa{color: white;}

.btn button{
    color: white;
    border: 10px solid rgb(207, 64, 57);
    border-radius: 30px;
    background-color: rgb(207, 64, 57);
    font-family: sans-serif;
    font-size: 18px;
    margin-top: -10px;
    width: 300px;
}

.listing1 .bt1 button {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
     padding-right: 70px;
    font-size: 15px;
    width: 300px;
}

.listing2 .bt2 button {
     color: rgb(255, 255, 255);
     background-color: rgba(255, 255, 255, 0);
     border: 1px solid rgb(255, 255, 255);
     text-align: center;
     border-radius: 30px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 70px;
     padding-right: 70px;
     font-size: 15px;
     width: 300px;
}

.listing3 .bt3 button {
     color: rgb(255, 255, 255);
     background-color: rgba(255, 255, 255, 0);
     border: 1px solid rgb(255, 255, 255);
     text-align: center;
     border-radius: 30px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 70px;
     padding-right: 70px;
     font-size: 15px;
     width: 300px;
 }

 .icon-cog {
  color: white;
  opacity: 0.7;
}

#content-desktop {display: none;}
#content-mobile {display: block;}

}
