#header{
   margin-top:56spx;
    }
    
#header2{margin-top:128px; width: 100%;}

#header3{background:transparent;text-align:center;margin:auto;}

#p2{font-size:18px;margin:auto;text-align:center;}


.last-header{font-size:14px; background-color:black;color:white;text-align:left;line-weight:50px;height:100%;}

#lastheader{mrgin-left:20px;}

#motogtab{
    background-color:#001428;
    color: #fff;
    max-width:100%;
    margin: 0 auto;
    z-index: 2;
    background-image: url("http://motorolain.vteximg.com.br/arquivos/moto-tab-g70-bg.png?v=3");
    background-position: center center;
    background-size: 100% 100%;
  }
  
  
 .player1{background:none;width:100%; height:900px;margin-top:-840px;}

 .player2{background:none;width:100%; height:1000px;margin-top:-920px;} 

/*  .player3{background:none;width:100%; height:1000px;} */
 
 
  
 .flip{display: inline; vertical-align: sub; width: 88px} 
 
 #sleek{text-align:left;}
 .best{text-align:left;margin-left:45px;font-size:59px;}
 
 #sleek-para{max-width:430px;font-size:18px;}
 #best-para{max-width:500px;font-size:18px;margin-left:45px;text-align:justify;}

 #featurefont{font-size:21px;line-weight:100px;}
 
 #know-more{
     background-color: #ff554d;
     border-radius:50px;
     height:40px;
     width:160px;
     color:white;
     font-size:17px;
     font-weight:30px;
     text-align:center;
     border:0;
     
 }   
 
 /* .e{padding:20px 70px;} */
 
 .f{height:200px;width:270px;margin:auto;margin-bottom:300px;}
 
 .h{padding:50px 10px;margin:auto;}
  
  
  
  
.pheader {
    font-size: 56px;
    margin-bottom: 21px;
    
    font-weight: 300;
    text-align:center;
    
  }
  
  #pheader2{margin-top:-45px;}
  
  h3{
    font-size: 48px;
    font-weight: 300;
    /* text-align:center; */
    
  }
  
  
 #motogtab h4 {
    font-size: 24px;
    margin-bottom: 12px;
  }
.center{
    font-size: 21px;
    max-width: 500px;
    line-height: 24px;
    /* margin-bottom: 3rem; */
    margin:auto;
    text-align:center;
  }

  #motogtab .price {
    margin-top: -36%;
    padding: 20px;
  }

#motogtab .spec-title{margin:auto;}

  #motogtab .spec__item {
    border-top: 4px solid rgba(255, 255, 255, 0.5);
    width: 300px;
    margin: 25px;
    font-size:21px;
  }

  #motogtab .spec__item h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 23px;
  }

   #motogtab .embed-container {
    padding: 56.25% 0 0 0;
    position: relative;
  }

  /*  #motogtab .embed-container iframe,
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } 
 */

hr{
    margin: 0px;
    /* border: 1px; */
    background-color: grey;
}



/* --------------------------mobile version starts here:------------------------- */


#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
    
    #player1-mobile {background:none;width:100%; height:1000px;margin-top:-600px;}
    #player2-mobile {background:none;width:100%; height:1000px;margin-top:-660px;}
    #massive-mobile {margin-top:-360px;}
    #powerful-mobile {margin-top:-380px;}
    
    .mobile-best{padding:18px; text-align:left;margin:auto;font-size:46px;}
    #mobile-best-para{padding:30px 20px;font-size:18px;line-weight:30px;margin:auto;}
    
    .spec-title{margin:auto; font-size:41px;}
    #spec-item-mobile{margin:auto;}
    
    #content-desktop {display: none;}
    #content-mobile {display: block;}

}