#razr-header{
   margin-top:54px;
   
    }

.razr-outer{background-color:#001428;color:white;}
	
.razr_family{
	background_color:#001428;
	color:white;
	
}
	
.razr_title{
	font-size:30px;
	text-align:center;
	font-family:arial;
}


hr{
    margin: 0px;
    /* border: 1px; */
    background-color: grey;
}


/* cards */

.r1{
	 margin-top: 128px;
     margin-right:90px;	 
	}

.razr-c1{
	width: 360px;
	height: 780px;
	color:black;
	text-align:left;
	margin-left:90px;
}


.razr-c2{
	width: 370px;
	height: 780px;
	color:black;
	text-align:left;
	right: 8%;
	}
	
.card-img-top{height:250px; width:250px;margin:auto;}


#razr-price{
	font-size:21px;
	font-family:arial;
    margin-left:5px;
	color:black;
     }

.card-text{color:black; margin-right:50px;}

.card-title{margin-left:6px;color:black;font-size: 36px;}

#razr-find-store{font-weight:bold;font-size:18px;color:-webkit-link;cursor:pointer;margin:auto;}
/* #find_store_mobile{font-weight:bold;font-size:15px;color:-webkit-link;cursor:pointer; margin:auto;} */

.razr-lm1{
	background-color:#cf4039; 
	color:white; 
	font-size:17px; 
	height:47px; 
	width:280px; 
	border-radius:50px; 
	border-width: 0;
	text-align:center;
    margin-left:28px;
	margin-top:150px;
	}

.razr-lm2{
	background-color:#cf4039; 
	color:white; 
	font-size:17px; 
	height:47px; 
	width:280px; 
	border-radius:50px; 
	border-width: 0;
	text-align:center;
    margin-left:28px;
	margin-top:57px;
	}
	
.razr-lm-mobile-1{
	background-color:#cf4039; 
	color:white; 
	font-size:20px; 
	height:50px; 
	width:300px; 
	border-radius:50px; 
	border-width: 0;
	text-align:center;
     margin:auto;
	margin-top:45px;
	}
	
.razr-lm-mobile-2{
	background-color:#cf4039; 
	color:white; 
	font-size:20px; 
	height:50px; 
	width:300px; 
	border-radius:50px; 
	border-width: 0;
	text-align:center;
	margin:auto;
	margin-top:45px;
	}
	
.razr-c-mobile{margin-top:100px;}

/* --------------------------mobile version starts here:------------------------- */






#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
	
#content-desktop {display: none;}
#content-mobile {display: block;}

}


/* @media screen and (max-width: px) {
	
	#find_store{margin-top:} */