.slider-outer{background-color:#001428;}

.carousel-caption{
   color: white;
   right: 40%;
  margin-top: 54px;
   max-width: 1200px;
   /*left: 1px;*/
   top: 2px;
 transform: translateY(15%);
 bottom: initial;

 padding:10px;
 height:100%;
 
    }

.slider-carousal {
    margin-top: 54px;
    width: 100%;
    height: auto ;
  }

    .carousel-caption img{
       margin-right: 200px;
    }
  
   
    
    .carousel-caption .slider-btn button{
      border: 1px solid transparent;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      border-radius: 25px;
      line-height: 50px;
      padding: 0 25px;
      height: 50px;
      text-decoration: none;
      border-color: #FFFFFF;
      background-color: #eb150a;
      color: #FFFFFF;
      margin-right: 450px;
      margin-top: 20px;
    }
    .carousel-caption .a img{
       margin-top: 100px;
      width:260px;
      margin-right: 420px;
    }
    .carousel-caption .b{
       font-size: 30px;
       margin-top: 5px;
       margin-right: 230px;
       font-weight: lighter;
    }
    .carousel-caption .bp{
       font-size: 30px;
       margin-top: 5px;
       margin-right: 236px;
       font-weight: lighter;
    }
     .carousel-caption .bw{
       font-size: 30px;
       margin-top: 5px;
       margin-right: 70px;
       font-weight: lighter;
    }
    .carousel-caption .c span img{
      display: inline;
    vertical-align: sub;
    width: 88px;
    }
    .carousel-caption .c {
       margin-right: 180px;
       margin-top: 19px;
       font-size: 20px;
    }
     .carousel-caption .au img{
      margin-top: 30px;
      width:260px;
      margin-right: 420px;
    }
    .game-head{margin-right: 90px;font-size: 23px;font-weight: bolder;text-align: left;}
    .game-text{margin-right: 90px;font-size: 23px;font-weight: bolder;text-align: left;}
    .offer-text{margin-right: 90px;font-size: 15px;font-weight: lighter;text-align: left;}
    .sbi-img{margin-right: 90px;text-align: left;}
    .sale-text{margin-right: 100px;font-size: 21px;font-weight: lighter;text-align: left;}
    .flip-img{margin-right: 90px;text-align: left;}

     .carousel-caption .aw img{
      margin-top: 100px;
      width:260px;
      margin-right: 500px;
    }
     .carousel-caption .cw span img{
      display: inline;
    vertical-align: sub;
    width: 88px;
    }
    .carousel-caption .cw {
       margin-right: 270px;
       margin-top: 19px;
       font-size: 20px;
       color: white;
    }
     .carousel-caption .slider-btn-w button{
      border: 1px solid transparent;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      border-radius: 25px;
      line-height: 50px;
      padding: 0 25px;
      height: 50px;
      text-decoration: none;
      border-color: #FFFFFF;
      background-color: #eb150a;
      color: #FFFFFF;
      margin-right: 450px;
      margin-top: 20px;
    }
    .carousel-caption .d button{
      border: 1px solid transparent;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      border-radius: 25px;
      line-height: 50px;
      padding: 0 25px;
      height: 50px;
      text-decoration: none;
      border-color: #FFFFFF;
      background-color: #eb150a;
      color: #FFFFFF;
      margin-right: 340px;
      margin-top: 20px;
    }
    .carousel-caption .ep img{
     margin-top: 100px;
     width:260px;
     margin-right: 410px;
   }

    .carousel-caption .f{
      font-size: 30px;
      margin-top: 5px;
      margin-right: 340px;
      font-weight: lighter;
    }
    .carousel-caption .g{
      margin-right: 80px;
      margin-top: 19px;
      font-size: 21px;
   }
   .carousel-caption .h button{
      border: 1px solid transparent;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      border-radius: 25px;
      line-height: 50px;
      padding: 0 25px;
      height: 50px;
      text-decoration: none;
      border-color: #FFFFFF;
      background-color: #eb150a;
      color: #FFFFFF;
      margin-right: 315px;
      margin-top: 20px;
    }
    .carousel-control-prev-icon{
         margin-right: 150px;   
    }
    .carousel-control-next-icon{
      margin-left: 150px;
      
 }

 /* --------------------------mobile version starts here:------------------------- */


#content-desktop {display: block;}
#content-mobile {display: none;}


.mobile-slider{margin-top: 54px; max-bottom: 100px;opacity: 0.3;}

.mobile-slider-header{font-size:20px;font-weight: bolder; color: white;}

@media screen and (max-width: 768px) { 

.carousel-inner img{height: 100%; width: 100%;}

.carousel-caption{
   color: white;
   right: 1%;
  margin-top: 100px;
   left: 5px;
   top: 2px;
 transform: translateY(30%);
 bottom: initial;
 text-align: center;
 
    }
 .carousel-caption .a img{
       margin-top: 100px;
      width:100px;
      margin-left: 100px;
    }
  
    
    #content-desktop {display: none;}
    #content-mobile {display: block;}

}